2022/Day1ElfInventory.txt
2022/Day2Encripted.txt
2022/Day3Backpacks.txt
2022/Day4Regions.txt
2022/Day5Input.txt
2022/Day6Input.txt
2022/Day7Input.txt
2022/Day8Input.txt
2024/Day1Input.txt
2024/Day2Input.txt
2024/Day3Input.txt
